<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ashley Liu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Ashley Liu professional website">
    <title>Ashley Liu</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="../static/script.js"></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Ashley Liu</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html">Home</a>
            <a href="CV.html" class="active">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th>Name</th><th>Description</th></tr>
            <tr><td>Carnegie Mellon University</td><td>- Studying <strong>Information Systems</strong><br>- Intended additional major in Artificial Intelligence</td></tr>
            <tr><td>Universal Processing</td><td>-<strong> Management Trainee</strong><br>- Administrative Assistant</td></tr>
        </table>
    <a href="../static/myresume.pdf" target="_blank"> My Resume - Pdf Version</a>
    </div>
    <footer>
        <p id = "copyYear">Ashley Liu &copy;</p>
    </footer>
</body>
</html>